# Generated directories
node_modules/
bower_components/
build/
*.map

# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?
# Gedit swap files
*~

# Logs
*.log

# Visual Studio Code
.*
!/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
